---
---

$color-font: #272838;
$color-gray-font: #404040;
$color-blue: #7FB7BE;
$color-light-gray: #D8D8D8;
$color-white: #F9F8F8;
$color-purple: #7E7F9A;

body {
  background-color: $color-light-gray;
  margin: 0;
  font-family: 'Droid Sans', arial, serif;
  line-height: 32px;
  font-size: 18px;
}


nav {
  background-color: white;
  width: 100%;
  height: 80px;
  position: relative;
  right: 0;
  left: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .logo {
    position: absolute;
    left: 50px;
    top: 15px;

    > h1 {
      margin: 0 0 0 15px;
      float: right;
      line-height: 50px;
    }

    .profile-img {
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
  }

  ul.menu {
    list-style: none;
    position: absolute;
    right: 15px;
    top: 15px;

    li {
      display: inline;
      list-style: none;
      margin-right: 20px;
    }

    a{
      text-decoration: none;
      color: $color-font;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: $color-gray-font;
}

.iblock {
  display: inline-block;
}

.align-c {
  text-align: center;
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}

.row {
  width: 100%;

  .text-wrapper {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  .half {
    width: 50%;
  }
}


/************ Home Page ************/

.hero {
  background-color: $color-blue;
  box-sizing: border-box;
  width: 100%;
  padding: 150px;

  h1 {
    font-size: 46px;
  }

  h3 {
    font-weight: lighter;
    color: $color-gray-font;
  }
}

.box-wrapper {
  text-align: center;
  padding: 50px 0 100px 0;

  h2 {
    margin-bottom: 50px;
  }

  .box {
    display: inline-block;
    box-sizing: border-box;
    height: 250px;
    width: 350px;
    background-color: $color-white;
    margin-right: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid $color-purple;
    vertical-align: top;
    &:last-child {
      margin-right: 0;
    }

  a{
    text-decoration: none;
    p{
      color: $color-font;
      &:hover {
        font-weight: bold;
      }
    }
  }
}


.clinical {
  background-color: $color-purple;

  .intro {
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 100px;
    color: $color-white;
  }

  .row {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .description {
    box-sizing: border-box;
    padding: 25px 75px 25 100px;


    li {
      margin-bottom: 15px;
    }
  }

  .images {
    // background-color: $color-purple;
    img.clinical-laptop {
      position: relative;
      top: 75px;
    }

    img.clinical-mobile {
      position: relative;
      left: 400px;
      bottom: 50px;
    }
  }
}
